html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
.calculator {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
}
.display {
    grid-column: 1/5;
    border: 1px solid black;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    height: 35px
}
.clear, .zero {
    grid-column: 1/3;
}
